/*
  start style to body
*/
body{
    background-image: url("../image/color-conifer-environment-192136.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .9;
    
}
          
h1{
    color: rgb(247, 246, 245);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-align: center;
}
/* 
    End
*/

/* 
 start style for div has class " form "
 */
form{
   
    margin: auto;
    text-align: center;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.788);
    overflow:auto;
    width: 550px;
    height: 700px;
    transform: 1s;
    transition: 1s;   
    border-radius: 7px; 
    
    
}
/*_______________________________________Scroll Barr_______________________________________*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px rgb(6, 97, 28);
    border-radius: 12px;
}
::-webkit-scrollbar-thumb {
    background:rgb(6, 97, 28) ;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(2, 8, 8);
}


h2{
    color: rgba(6, 153, 38, 0.658);
}

form input{

    background: rgba(85, 85, 85, 0);
    width: 500px;
    height: 25px ;
    margin: 10px 10px ;
    border: 1px rgb(6, 99, 153);
    padding: 2.5px;
    color: rgb(255, 255, 255);
    transform: 1s;
    transition: 1s; 
    border-radius: 5px;
    border-bottom: 1px rgba(6, 153, 38, 0.658) solid;

}

.log{
    
    margin-left: 30px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;    
}

.log > select {

    width:240px; 
    border: 0px rgba(6, 153, 38, 0.836) solid;
    background: rgba(6, 153, 38, 0.658);
    color: rgb(223, 223, 223);
    height: 30px;
    padding: 2.5px;
    margin: 10px 5px 10px -15px;
    transform: 1s;
    transition: 1s; 
    border-radius: 5px;
   
}

.log > input{

    width:240px;
    margin: 10px 5px;
    transform: 1s;
    transition: 1s; 
}

.log > input:first-of-type{
    
    width: 235px;
    margin-right: -20px;
    
}

.log > input:last-of-type{
    
    width: 235px;
    
}
form button{
    background: rgba(6, 153, 38, 0.658);
    width: 500px;
    height: 30px ;
    margin: 0px 10px ;
    border: 1px  rgba(6, 153, 38, 0.836);
    padding: 2.5px;
    color: rgb(255, 255, 255);
    transform: 1s;
    transition: 1s;
    border-radius: 5px; 
}
form button:hover{
    background: #fafafa;
    color: rgba(6, 153, 38, 0.836);
}
p{
    text-align: center;
    color: #fafafa;

}
span{
    color: rgba(6, 153, 38, 0.836); 
    font-size: 25px;
    font-style: italic;
    font-weight: bold;

}
 /* End */ 
 
 /*

    Start to be responsive 
    
*/

@media only screen and (max-width: 552px) {
   form{
       text-align: center;
       width: 400px;
   }
    form input {
          width: 300px;
    }
    
.log > select{
    width: 150px;
}

.log > input{

    width:150px;
    margin: 10px 3px;
   
}

.log > input:first-of-type{
    
    width: 150px;
    
}

.log > input:last-of-type{
    
    width: 150px;
    
}

     form button{
        width: 300px;
    }
}

/* End */ 

/* 
start welcome box 
*/

.good{
    background: #ebe4e4;
    width: 400px;
    height: 400px;
    margin-top: -550px;
    overflow: hidden;
    border-radius: 5px;
    border: 5px solid rgb(3, 86, 119);
    margin-left: 560px;
    transform: 1s;
    transition: 1s;   
    position: absolute;
    visibility: hidden;
}

.good h1{
    color: rgb(255, 0, 0);
}

.good img{
    margin-left: 50px;

    border-radius: 7px;
   
}

@media only screen and ( max-width:552px){
    .good{

        margin-left: 40px;
        width: 350px;
        height: 350px;

    }

    .good img {
        height: 200px;
        margin-left:25px; 
    }

} 


@media (min-width:552px) and (max-width:1300px){
    .good{

        margin-left: 450px;
        width: 350px;
        height: 350px;

    }

    .good img {
        height: 200px;
        margin-left:25px; 
    }

} 



@media (min-width:552px) and (max-width:900px){
    .good{

        margin-left: 150px;
        width: 350px;
        height: 350px;

    }

    .good img {
        height: 200px;
        margin-left:25px; 
    }

} 
